@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffdbf2;
  --details: #ffc9ed;
  --text: #463333;
  --secondary: #bfecff;
  --tertiary: #cdc1ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3b2b2b;
    --details: #654743;
    --text: #fff0f9;
    --secondary: #476673;
    --tertiary: #8c80bd;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
